#canvas {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    width: 600px;
    height: 400px;
  }
  
  #drawing-board {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
